td, th {
	border: 1px solid;
  }
 
 body {
  background-image: url("../images/galaxy.jpg");
  background-size: 100vw 100vh;
}
 
 h1 {
 	color: #E6E6FA;
 	font-family: 'freight-big-pro';
 	font-size: 2em;
 	letter-spacing: 1.5px;
 	overflow-wrap: break-world;
 }
 
 ul {
 	list-style; none;
 	margin: 10px;
 	padding: 5px;
 }
 
 table {
 	width: 100%;
 	background-color: #fff;
 }
 
 th {
 	background-color: #FFB6C1;
 	font-size: 1.5em
 }
 
 