body {
  background-image: url("../images/galaxy.jpg");
  background-size: 100vw 100vh;
}
 
 td, th {
	border: 1px ridge;
	border-color: #FFE4E1;
	text-align: center;
}

 th {
 	background-color: #FFB6C1;
 	font-size: 1.5em;
 	font-family: 'freight-big-pro', 'sans-serif;
 	letter-spacing: 1.5px;
 	overflow-wrap: 'break-world;
 }

td: first-child, th: first-child {
	background-color: #E6E6FA; 
}
 
 h1 {
 	color: #E6E6FA;
 	font-weight: 'bold';
 	font-family: 'freight-big-pro', 'sans-serif;
 	font-size: 3em;
 	text-align: center;
 	letter-spacing: 1.5px;
 	overflow-wrap: 'break-world;
 }
 
 p {
 	color: #E6E6FA;
 	font-family: 'freight-big-pro', 'sans-serif;
 	font-size: 1.8em;
 	text-align: center;
 	letter-spacing: 1.5px;
 	font-style: 'italics';
 }
 
 
 ul {
 	list-style; none;
 	margin: 20px;
 	padding: 10px;
 	color: #E6E6FA;
 	font-family: 'freight-big-pro', 'sans-serif';
 	letter-spacing: 1.5px;
 	text-align: center;
 	overflow-wrap: 'break-world;
 }
 
 table {
 	margin: center;
 	width: auto;
 	background-color: #FFF5EE;
 	overflow-wrap: 'break-world;
 }
 
 img {
 	width: 20%;
 	height: 20%;
 }
 